/* -----------navbar----------- */

#navbar{
    flex-direction: column;
}

<<<<<<< HEAD
navbar ul li a {
    padding: 3px 5px;
    }
=======

>>>>>>> 37c26af53a5a643f081ed835a2bb2175dc76b544
/* -------Service--------------*/

#services{
    flex-direction: column;
}


/* -----------utilities---------- */

.h-primary{
    font-size: 1.5rem;
    padding: 10px;
}

.h-secondary{
    font-size: 1rem;
    padding: 10px;
}
